######## GENERAL IGNORES #######

# ignore logs, OS cache files
*.log
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
/.vs
[Oo]bj/
src/**/[Bb]in/

######## GENERAL .NET IGNORES ########

# Ignore user-scoped solution and project settings
*.user
*.suo

# NuGet packages
packages/*
!packages/repositories.config
Build/*.nupkg

# Sitecore
lib/*

# Node.js
/node_modules
gulp-config.js
