module.exports = function () {
  var config = {
	  websiteRoot: "D:\\inetpub\\wwwroot\\sc82u2\\Website",
	  sitecoreLibraries: "D:\\inetpub\\wwwroot\\sc82u2\\Website\\bin",
    solutionName: "Solution",
    buildConfiguration: "Debug",
    runCleanBuilds: false
  }
  return config;
}