<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Base" abstract="true">
					<dataProviderConfiguration enableTransparentSync="false" />
				</configuration>

				<configuration name="Base.Fo" abstract="true" extends="Base">
					<predicate>
						<include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
					</predicate>
				</configuration>

				<configuration name="Base.Fe" abstract="true" extends="Base">
					<predicate>
						<include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
						<include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
						<include name="Media" database="master" path="/sitecore/media library/$(layer)/$(module)" />
					</predicate>
				</configuration>

				<configuration name="Base.Pr" abstract="true" extends="Base">
					<predicate>
						<include name="Templates" database="master" path="/sitecore/templates/$(layer)/$(module)" />
						<include name="Renderings" database="master" path="/sitecore/layout/renderings/$(layer)/$(module)" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
