<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="Project.Website.Content">
					<predicate>
						<include database="master" path="/sitecore/content/Sym2018" name="Content"/>
						<include database="master" path="/sitecore/layout/Layouts/Project" name="Layouts"/>
						<include database="master" path="/sitecore/layout/Renderings/Project" name="Renderings"/>
						<include database="master" path="/sitecore/media library/Project" name="Media"/>
						<include database="master" path="/sitecore/templates/Branches/Project" name="Branches"/>
						<include database="master" path="/sitecore/templates/Project" name="Templates"/>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
