@{
    Layout = null;
}

@model Project.Website.Components.Accordion.AccordionModel

<!-- Accordion -->
<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
    @{
        int i = 0;
        foreach (var accordionItem in Model.AccordionItems)
        {
            string collapsedClass = "";
            if (accordionItem.Collapsed)
            {
                collapsedClass = "class = \"collapsed\"";
            }

            <div class="card">
                <div class="card-header" role="tab" id="heading@i">
                    <h5 class="mb-0">
                        <a @collapsedClass data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">@accordionItem.Title</a>
                    </h5>
                </div>
                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="heading@i">
                    <div class="card-body">
                        @accordionItem.Text
                    </div>
                </div>
            </div>

            i++;
        }
    }
</div>
