@{
    Layout = null;
}

@model Project.Website.Components.Breadcrumb.BreadcrumbModel

<!-- Breadcrumb -->
<ol class="breadcrumb">
    @foreach (var breadcrumb in Model.Breadcrumbs)
    {
        if (!breadcrumb.IsActive)
        {
            <li class="breadcrumb-item">
                <a href="@breadcrumb.Url">@breadcrumb.Title</a>
            </li>
        }
        else
        {
            <li class="breadcrumb-item active">@breadcrumb.Title</li>
        }
    }
</ol>
