@{
    Layout = null;
}

@model Project.Website.Components.CallToAction.CallToActionModel

<!-- Call to Action Section -->
<div class="row mb-4">
    <div class="col-md-8">
        @Model.Text
        
    </div>
    <div class="col-md-4">
        <a class="btn btn-lg btn-secondary btn-block" href="@Model.ButtonUrl">@Model.ButtonText</a>
    </div>
</div>
