@{
    Layout = null;
}

@model Project.Website.Components.IntroContent.IntroContentModel

<!-- Intro Content -->
<div class="row">
    <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="@Model.ImageUrl" alt="@Model.ImageAlt">
    </div>
    <div class="col-lg-6">
        @Model.Text
    </div>
</div>
<!-- /.row -->
