@{
    Layout = null;
}

@model Project.Website.Components.Marketing_Icons.MarketingIconsModel

<!-- Marketing Icons Section -->
<div class="row">
    @foreach (var marketingIcon in Model.MarketingIcons)
    {
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">@marketingIcon.Title</h4>
                <div class="card-body">
                    <p class="card-text">@marketingIcon.Text</p>
                </div>
                <div class="card-footer">
                    <a href="@marketingIcon.TargetUrl" class="btn btn-primary">@marketingIcon.LinkText</a>
                </div>
            </div>
        </div>
    }
</div>
<!-- /.row -->
