@{
    Layout = null;
}

@model Project.Website.Components.OurCustomers.OurCustomersModel

<!-- Our Customers -->
<div class="row">
    @foreach (var customer in Model.Customers)
    {
        <div class="col-lg-2 col-sm-4 mb-4">
            <img class="img-fluid" src="@customer.ImageUrl" alt="@customer.ImageAlt">
        </div>
    }
</div>
<!-- /.row -->
