@{
    Layout = null;
}

@model Project.Website.Components.PortfolioItem.PortfolioItemModel

<!-- Portfolio Item Row -->
<div class="row">

    <div class="col-md-8">
        <img class="img-fluid" src="@Model.ImageUrl" alt="@Model.ImageAlt">
    </div>

    <div class="col-md-4">
        @Model.Text
    </div>

</div>
<!-- /.row -->
