@{
    Layout = null;
}

@model Project.Website.Components.RelatedProjects.RelatedProjectsModel

<!-- Related Projects Row -->
<div class="row">
    @foreach (var relatedProject in Model.RelatedProjects)
    {
        <div class="col-md-3 col-sm-6 mb-4">
            <a href="@relatedProject.PortfolioItemUrl">
                <img class="img-fluid" src="@relatedProject.ImageUrl" alt="@relatedProject.ImageAlt">
            </a>
        </div>
    }
</div>
<!-- /.row -->
