@{
    Layout = null;
}

<!-- Team Members -->
<div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
                <h4 class="card-title">Team Member</h4>
                <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
                <a href="#">name@example.com</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
                <h4 class="card-title">Team Member</h4>
                <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
                <a href="#">name@example.com</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
            <img class="card-img-top" src="http://placehold.it/750x450" alt="">
            <div class="card-body">
                <h4 class="card-title">Team Member</h4>
                <h6 class="card-subtitle mb-2 text-muted">Position</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
                <a href="#">name@example.com</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
